<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Full Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {{firstName()}}
            </td>
            <td>
                {{lastName()}}
            </td>
            <td>
                {{fullName()}}
            </td>
        </tr>
        <tr>
            <td>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" [value]="firstName()" #fname placeholder="Change First Name">
                    <button (click)="changeFirstName(fname.value)" class="btn btn-outline-primary" type="button">
                        Change First Name
                    </button>
                </div>
                
            </td>
            <td>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" [value]="lastName()" #lname placeholder="Change Last Name">
                    <button (click)="changeLastName(lname.value)" class="btn btn-outline-primary" type="button">
                        Change Last Name
                    </button>
                </div>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
    
</table>

<table class="table" style="width: 300px; text-align: center;">
    <thead>
      <tr>
        <th>(-)</th>
        <th>Qty</th>
        <th>(+)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
            <button type="button" class="btn btn-danger" (click)="onDecreaseQty()">
                -
            </button>

        </td>
        <td>
            {{qty()}}
        </td>
        <td>
            <button type="button" class="btn btn-success" (click)="onIncreaseQty()">
                +
            </button>
        </td>
      </tr>
        
    </tbody>
  </table>
  <br>
<figure>
  <figcaption class="blockquote-footer">
    Modify <mark>Array Element</mark>
  </figcaption>
</figure>


<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Position</th>
        <th scope="col">Department</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees(); index as i">
        <td>{{ i+1 }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.department }}</td>
      </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-primary" 
    *ngIf="!empAdding()" 
    (click)="toggleAddBlock()">
    + Add Employee
  </button>

  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <div class="row border rounded py-3 mx-1" *ngIf="empAdding()">
          <div class="col">
              <input type="email" class="form-control" formControlName="name" placeholder="Enter Name">
          </div>
          <div class="col">
              <input type="email" class="form-control" formControlName="position" placeholder="Enter Position">
          </div>
          <div class="col">
              <input type="email" class="form-control" formControlName="department" placeholder="Enter Department">
          </div>
          <div class="col-12">
              <div class="row mt-3">
                  <div class="col">
                      <button type="button" type="submit" class="btn btn-primary me-2"  [disabled]="employeeForm.invalid">
                          + Add Employee
                      </button>
                      <button type="button" type="button" class="btn btn-secondary" (click)="toggleAddBlock()">
                          Cancel
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </form>

  <br>
  <br>
  <figure>
    <figcaption class="blockquote-footer">
      Modify <mark>Object Property</mark>
    </figcaption>
  </figure>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ product().name }}</td>
        <td>{{ product().category }}</td>
        <td>{{ product().price }}</td>
        <td>{{ product().rating }}</td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-success" 
    (click)="changeProductName()">
    Change name to Mobile
  </button>
  